* {
  margin: 0px;
}

body {
  min-height: 100vh;
  background: rgb(0, 32, 36);
  background: linear-gradient(
    180deg,
    rgba(0, 32, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* Navbar */

.nav {
  /*height: 70px;*/
  width: 100%;
  /* background-color: rgb(15, 15, 15); */
}

.nav-header {
  display: block;
  text-align: center;
  background-color: black;
  margin-bottom: 1px;
}

.nav-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  padding: 5px;
  color: rgb(0, 208, 255);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  width: 100%;
  background-color: rgb(11, 11, 11);
}

.nav-links > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(247, 249, 249);
}

.nav-links > a:hover {
  color: rgb(128, 143, 230);
}

.starttext {
  text-align: center;
  padding: 20px;
  color: white;
  margin-top: 20px;
}

.resultstext {
  text-align: center;
  padding: 20px;
  color: white;
  margin-top: 20px;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 30px;
  box-shadow: 3px 3px 10px rgba(8, 8, 8, 0.35);
}

.cardtext {
  color: rgb(255, 255, 255);
}

.image {
  background-color: lightslategray;
  height: 200px;
  background-size: cover;
}

/* BILDER */

.card-1 {
  background-image: url("images/magnamon.png");
}

.card-2 {
  background-image: url("images/Sukamon2.png");
}

.card-3 {
  background-image: url("images/royalknights.png");
}

.card-4 {
  background-image: url("images/omnimonex4.jpg");
}

.card-5 {
  background-image: url("images/sukamon.jpg");
}

.card-6 {
  background-image: url("images/beelze.jpg");
}

.card-7 {
  background-image: url("images/sukamon3.jpg");
}

.card-8 {
  background-image: url("images/dimensionalphase.jpg");
}

.card-9 {
  background-image: url("images/garuru.jpg");
}

.card-10 {
  background-image: url("images/championship2022.jpg");
}

.startcard {
  text-align: center;
  padding: 10px;
  color: antiquewhite;
}

.btn {
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  color: rgb(15, 15, 15);
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: rgb(45, 131, 184);
  transition: 0.5s;
  transform: scale(1.1);
}
