* {
  margin: 0px;
}

body {
  min-height: 100vh;
  background: rgb(0, 32, 36);
  background: linear-gradient(
    180deg,
    rgba(0, 32, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
/* Navbar */

.nav {
  /*height: 70px;*/
  width: 100%;
  /* background-color: rgb(15, 15, 15); */
}

.nav-header {
  display: block;
  text-align: center;
  background-color: black;
  margin-bottom: 1px;
}

.nav-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  padding: 5px;
  color: rgb(0, 208, 255);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  width: 100%;
  background-color: rgb(11, 11, 11);
}

.nav-links > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(247, 249, 249);
}

.nav-links > a:hover {
  color: rgb(128, 143, 230);
}

.starttext {
  padding: 20px;
  color: rgb(250, 246, 246);
  margin-left: 20px;
  font-weight: bold;
  font-size: 50px;
  max-width: 358px;
}

.resultstext {
  text-align: center;
  color: rgb(233, 236, 217);
  margin-top: 40px;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  text-align: center;
  padding: 0px;
  font-size: xx-large;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 30px;
  box-shadow: 3px 3px 10px rgba(8, 8, 8, 0.35);
}

.cardtext {
  color: rgb(255, 255, 255);
}

.image {
  background-color: rgb(0, 0, 0);
  height: 200px;
  background-size: cover;
}

/* TURNERINGS-BILDER */

.card-1 {
  background-image: url("images/magnamon.png");
}

.card-2 {
  background-image: url("images/Sukamon2.png");
}

.card-3 {
  background-image: url("images/royalknights.png");
}

.card-4 {
  background-image: url("images/omnimonex4.jpg");
}

.card-5 {
  background-image: url("images/sukamon.jpg");
}

.card-6 {
  background-image: url("images/beelze.jpg");
}

.card-7 {
  background-image: url("images/sukamon3.jpg");
}

.card-8 {
  background-image: url("images/dimensionalphase.jpg");
}

.card-9 {
  background-image: url("images/garuru.jpg");
}

.card-10 {
  background-image: url("images/championship2022.jpg");
}

.card-11 {
  background-image: url("images/sukamon4.jpg");
}

/* SPELAR-BILDER */

.playercard-1 {
  background-image: url("images/profilbilder/Kenny.jpg");
}

.playercard-2 {
  background-image: url("images/profilbilder/Robin.jpg");
}

.playercard-3 {
  background-image: url("images/profilbilder/Alex.jpg");
}

.playercard-4 {
  background-image: url("images/profilbilder/felix.jpg");
}

.playercard-5 {
  background-image: url("images/profilbilder/Adam.jpg");
}

.playercard-6 {
  background-image: url("images/profilbilder/Martin.jpg");
}

.playercard-7 {
  background-image: url("images/profilbilder/Mathilda.jpg");
}

.playercard-8 {
  background-image: url("images/profilbilder/Mattias.jpg");
}

.playercard-9 {
  background-image: url("images/profilbilder/Emil.jpg");
}

.playercard-10 {
  background-image: url("images/profilbilder/Trotte.jpg");
}

.playercard-11 {
  background-image: url("images/profilbilder/DanielB.jpg");
}

.playercard-12 {
  background-image: url("images/profilbilder/Johan.jpg");
}

.playercard-13 {
  background-image: url("images/profilbilder/DanielN.jpg");
}

.playercard-14 {
  background-image: url("images/profilbilder/Ferixen.jpg");
}

.playercard-15 {
  background-image: url("images/profilbilder/Calle.jpg");
}

.playercard-16 {
  background-image: url("images/profilbilder/Merlin.jpg");
}

.playercard-17 {
  background-image: url("images/profilbilder/Michelle.jpg");
}

.playercard-18 {
  background-image: url("images/profilbilder/Anton.jpg");
}

.playercard-19 {
  background-image: url("images/profilbilder/Victor.jpg");
}

.startcard {
  text-align: center;
  padding: 10px;
  color: antiquewhite;
}

.btn {
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  color: rgb(15, 15, 15);
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: rgb(45, 131, 184);
  transition: 0.5s;
  transform: scale(1.1);
}

img {
  width: 62vw;
}

.resultatsida {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  gap: 20px;
}

.startsida {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 20px;
}

.startimage {
  width: 42vw;
  margin-left: 80px;
  margin-bottom: 50px;
}

table,
th,
td {
  border: 1px solid rgb(39, 138, 160);
  color: white;
}

td {
  text-align: center;
}

table {
  background-color: rgb(3, 3, 3);
  width: 62vw;
  align-items: center;
}

.headLine {
  margin-top: 60px;
}

.introbild {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
